@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="hud"></div>
	<div class="vitals">
		<div class="statusBar health"></div>
		<div class="statusBar armor"></div>
	</div>
</root>

@code
{
	[Property] PlayerController Player { get; set; }
	

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( "" );
}
